@media screen and (min-width: 400px) {
  .cl-footer-right {
    display: none;
  }
  .cl-footer-left {
    display: none;
  }
  .cl-footer-center {
    width: 100%;
    padding: 20px;
  }
}

/* ===========================
   📱 MEDIA QUERY — MOBILE GRANDE
   (schermi ≥ 600px)
   =========================== */
@media screen and (min-width: 600px) {
  /* Sidebar più ampia e leggibile */
  .scroll-bar {
    width: 150px;
  }
  /* Logo completo (versione grande) */
  .logo {
    background-image: url(../img/logo.svg);
    width: 100%;
    background-size: contain;
  }
  /* Mostra testo accanto alle icone */
  .text-scrol-none {
    display: inline;
  }
  .border-bar::before {
    display: block;
  }

  /* Attiva la sezione playlist */
  .playlist-none {
    display: block;
  }
  /* Adatta dimensione icone di navigazione */
  .svg-scroll {
    width: 30px;
  }
  /* Footer-scroll-bar: mostra testo e separatore */
  .img-footer,
  .img-footer-gray {
    width: 20px;
  }
  .text-footer {
    display: inline;
  }
  .separator {
    display: block;
  }
  .cl-header-main {
    margin-right: 30px;
  }
  /* footer */
  .cl-footer-right {
    display: block;
  }
  .cl-footer-left {
    display: block;
  }
  .cl-footer-center {
    width: 40%;
    padding: 0;
  }
}

/* ===========================
   💻 MEDIA QUERY — TABLET
   (schermi ≥ 700px)
   =========================== */
@media screen and (min-width: 700px) {
  .scroll-bar {
    width: 200px;
  }

  .box-col-Recentyl {
    justify-content: flex-start;
  }
  .cl-Recentyl {
    width: calc((100% - (3 * 10px)) / 4);
  }
}

/* ===========================
   🖥️ MEDIA QUERY — DESKTOP
   (schermi ≥ 1100px)
   =========================== */
@media screen and (min-width: 1100px) {
  .cl-header-main {
    margin-right: 50px;
    font-size: 1.1rem;
  }
  .cl-Recentyl {
    width: calc((100% - (5 * 10px)) / 6);
  }
  .scoll-name-playlist li {
    font-size: 1.3rem;
  }
}
