/* ================================================================
   RESET / GLOBAL STYLES
   ============================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ================================================================
   LAYOUT PRINCIPALE
   ============================================================== */
img {
  max-width: 100%;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
/* ================================================================
    SEZIONE MAIN
   - Occupa tutta la parte visibile tranne il footer
   ============================================================== */
body {
  color: gray;
}
main {
  height: calc(100% - 100px);
}
/* ================================================================
    UTILITIES
   - Classi riutilizzabili per struttura e layout
   ============================================================== */

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.fl-direc-col {
  flex-direction: column;
}

.al-item-center {
  align-items: center;
}
.just-space-bwt {
  justify-content: space-between;
}
.just-cont-cent {
  justify-content: center;
}
.just-cont-end {
  justify-content: flex-end;
}

/* --- Spaziature --- */
.pd-10 {
  padding: 10px;
}
.mg-10 {
  margin: 10px;
}
.mg-top-10 {
  margin-top: 10px;
}
.mg-top-20 {
  margin-top: 20px;
}
.mg-top-30 {
  margin-top: 30px;
}

.mg-left-5 {
  margin-left: 5px;
}
.mg-left-10 {
  margin-left: 10px;
}

/* ================================================================
    SIDEBAR (barra laterale)
 ============================================================== */
.scroll-bar {
  width: 50px;
  flex-shrink: 0;
  background-color: #000000;
  overflow: auto;
}
.scroll-flex {
  height: 100%;
}
/* Logo nella sidebar */
.logo {
  height: 40px;
  width: 100%;
  background-image: url(../img/logo-small.svg);
  background-repeat: no-repeat;
  background-size: 30px;
}
/* Testo e sezioni nascoste su mobile */
.text-scrol-none {
  display: none;
}
/* Sezione playlist */
.playlist ul {
  list-style: none;
}
.playlist-none {
  display: none;
}
.playlist li {
  margin-top: 10px;
}
.img-footer-gray {
  background-color: gray;
  border-radius: 50%;
}
/* Elementi visibili solo su schermi grandi */
.text-footer {
  display: none;
}
.separator {
  border: 1px solid grey;
  display: none;
}

/* ================================================================
   AREA CONTENUTO
   - Sezione principale della pagina
   ============================================================== */
.content {
  width: 100%;
  overflow: auto;
  background-color: #141922;
}
.header-main {
  height: 100px;
  background-color: #080b12;
  padding-right: 10px;
}
.header-main a {
  text-decoration: none;
  display: inline-block;
  color: white;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 0.8rem;
}
.box-cl-header-main {
  row-gap: 30px;
  padding: 20px;
}
.cl-header-main {
  width: 25%;
}
.title-main {
  color: white;
  margin: 10px 20px;
}
.cl-Recentyl {
  width: 50%;
  /* debug */
  height: 200px;
  background-color: rgba(246, 255, 0, 0.277);
}

/* ================================================================
    FOOTER 
 ============================================================== */
footer {
  height: 100px;
  background-color: #282828;
}
